snippet shebang "shebang line"
#!/usr/bin/env ${1:bash}
endsnippet

snippet pr "printf default"
printf "%$1\n" $2
endsnippet

snippet ie "if else"
if [[ $1 ]]; then
	${2::}
else
	${3::}
fi
endsnippet

snippet iee "if elif else"
if [[ $1 ]]; then
	${2::}
elif [[ $3 ]]; then
	${4::}
else
	${5::}
fi
endsnippet

snippet ff "for loop shell"
for (( i = 0; i < $1; i++ )); do
	$2
done
endsnippet
