[user]
    email = 
    name = 

[core]
    editor = vim
    excludesfile = /.gitignore_global
    autocrlf = input
    pager = diff-so-fancy | less --tabs=4 -RFX
    commentchar = |

[color]
    ui = true

[alias]
    last = log -1 HEAD
	unstage = reset HEAD --
	untrack = rm --cached
	track = add -N
	stage = add
	visual = !gitk

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    plain = blue
    meta = cyan bold
    frag = magenta bold
    commit = magenta
    old = red bold
    new = green bold
    whitespace = red reverse

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff
