vnoremap <silent> Y y`>j
"nnoremap <silent> p p`]
noremap <C-J> 4j
noremap <C-K> 4k
vnoremap <C-J> 4j
vnoremap <C-K> 4k

vnoremap < <gv
vnoremap > >gv

set incsearch
set hlsearch
set ignorecase
set showmode
set visualbell
set wrapscan
