vnoremap <silent> Y y`>j
"nnoremap <silent> p p`]
noremap <C-J> 4j
noremap <C-K> 4k
vnoremap <C-J> 4j
vnoremap <C-K> 4k

vnoremap < <gv
vnoremap > >gv

set incsearch
set hlsearch
set ignorecase
set showmode
set visualbell
set wrapscan


nmap [[ ?{<CR>w99[{
nmap ][ /}<CR>b99]}
nmap ]] j0[[%/{<CR>
nmap [] k$][%?}<CR>]}]]}]]

imap <C-e> <C-o>A
"inoremap <Up> <NOP>
"inoremap <Down> <NOP>
"inoremap <Left> <NOP>
"inoremap <Right> <NOP>
"noremap <Up> <NOP>
"noremap <Down> <NOP>
"noremap <Left> <NOP>
"noremap <Right> <NOP>
"
set surround
set multiple-cursors
nnoremap <CR> :action ReformatCode<CR>


