[Unit]
Description=start docker compose containers
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/home/pi/docker
ExecStart=/usr/bin/env docker-compose -f zabbix-docker/docker-compose_v3_ubuntu_pgsql_latest.yaml docker-elk/docker-compose.yml up -d
ExecStop=/usr/bin/env docker-compose -f zabbix-docker/docker-compose_v3_ubuntu_pgsql_latest.yaml docker-elk/docker-compose.yml down

[Install]
WantedBy=multi-user.target
