[Unit]
Description=start docker compose containers
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=pi
Group=pi
WorkingDirectory=/home/pi/docker
Environment="SCRIPTS=/home/pi/Documents/shellScripts"
Environment="HOME=/home/pi"
ExecStart=/usr/bin/env bash /home/pi/Documents/shellScripts/startContainers.sh
ExecStart=/usr/bin/env bash /home/pi/Documents/shellScripts/stopContainers.sh


[Install]
WantedBy=multi-user.target
