[Unit]
Description=github poll service
After=network.target

[Service]
Type=simple
User=pi
Group=pi
Environment="ZPWR_SCRIPTS=/home/pi/.zpwr/scripts"
Environment="REPO_NAME=zpwr"
Environment="ZSH_COMP_REPO_NAME=zsh-more-completions"
ExecStart=/usr/bin/env bash /home/pi/.zpwr/scripts/remoteRepoMonitorDaemon.sh
ExecStop=/usr/bin/env kill $MAINPID

[Install]
WantedBy=multi-user.target
